@model EntityLayer.Concrete.Category
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h1>Kategori Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddCategory","Category",FormMethod.Post))
{
<div class="form-control">
    @Html.Label("Kategori Adını Giriniz")
    @Html.TextBoxFor(x => x.CategoryName)
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br />
    <br />
    @Html.Label("Açıklamasını Yapınız")
    @Html.TextBoxFor(x => x.CategoryDescription)
    @Html.ValidationMessageFor(x => x.CategoryDescription)

    <br />
    <br />
    <button>Kaydet</button>
</div>
}